<footer>

    <nav id="bottom_navi">

        <ul>

            <li class="bottom_navi_element">
                <a href="index.html">Home</a>
                <p>
                    自己紹介<br>
                    プロフィール<br>
                    学生時代に力を入れたこと
                </p>
            </li>

            <li class="bottom_navi_element">
                <a href="pages/skill.html">Skill</a>
                <p>
                    HTML/CSS<br>
                    JavaScript<br>
                    Java<br>
                    Python
                </p>
            </li>

            <li class="bottom_navi_element">
                <a href="pages/favorite.html">Favorite</a>
                <p>
                    趣味・好きな作品
                </p>
            </li>

            <li class="bottom_navi_element">
                <a href="pages/contact.html">Contact</a>
                <p>
                    お問い合わせ
                </p>
            </li>

        </ul>

    </nav>

    <div id="copyright">
        <small>&copy; 2025 Kanda Sena</small>
    </div>

</footer>