<header>

    <p class="logo">
        <a data-href="index.html" id="logo">
            <img data-src="assets/images/logo-name.png" alt="ロゴ">
        </a>
    </p>

    <nav id="global_navi" class="nav">
        <ul class="nav_list">

            <li class="nav_anime nav_item">
                <a data-href="index.html">Home</a>
            </li>

            <li class="nav_anime nav_item">
                <a data-href="pages/skill.html">Skill</a>
            </li>

            <li class="nav_anime nav_item">
                <a data-href="pages/favorite.html">Favorite</a>
            </li>

            <li class="nav_anime nav_item">
                <a data-href="pages/contact.html">Contact</a>
            </li>

        </ul>
    </nav>

</header>

<div class="hamburger" id="js-hamburger">
    <span class="hamburger_border hamburger_border_top"></span>
    <span class="hamburger_border hamburger_border_center"></span>
    <span class="hamburger_border hamburger_border_bottom"></span>
</div>

<div class="black_bg" id="js-black-bg"></div>